/*Import font*/

@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');



/*Styles*/

html,body
{
    margin: 0px;
    padding: 0px;
    color: #333333;
}

*
{
    font-family: "Roboto", sans-serif;
}

h1
{
    font-weight: normal;
    text-align: center;
    font-size: 40px;
}

.footnote
{
    text-align: center;
    color: #bbb;
}

.wrapper
{
    width: 100%;
    margin: auto;
    max-width: 1280px;
}

.main
{
    border: 2px solid #383838;
    padding: 0px;
    margin: 20px;
    font-size: 0px;
    height: 80vh;
    min-height: 550px;
    position: relative;
    box-shadow: 0 0 15px #333
}

.graph,.control,.overlay
{
    margin: 0px;
    padding: 0px;
    display: inline-block;
    position: absolute;
}

.graph
{
    width: 80%;
    height: 100%;
    left: 0;
    touch-action: none;
}

.graph:hover
{
    cursor: crosshair;
}

.control
{
    width: 20%;
    height: 100%;
    border-left: 2px solid #383838;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    right: 0;
    padding: 15px;
    padding-top: 0px;
    z-index: 10;
}

canvas
{
    width: 100%;
    height: 100%;
}

.label
{
    font-size: 16px;
    color: #333333;
    margin-bottom: 4px;
}

.info
{
    font-size: 16px;
    color: #333333;
    margin-top: 0px;
    margin-bottom: 4px;
}

button
{
    outline: none;
    background-color: white;
    border: 2px solid #383838;
    border-radius: 15px;
    box-shadow: -1px -1px 3px 2px #d8d8d8;
    font-family: "Times New Roman";
    width: 100%;
    height: 100%;
    font-size: 30px;
    user-select: none;
}

button:hover
{
    background-color: #f2f2f2;
    cursor: pointer;
}

button:active
{
    box-shadow: -1px -1px 2px 1px #adadad;
    transform: translate(-1px,-1px);
    background-color: #eaeaea;
}

.reset-btn
{
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    width: auto;
    margin: auto;
    display: block;
    padding: 5px 10px;
    margin-top: 40px;
    border-radius: 10px;
}

.overlay
{
    position: absolute;
    top: 0;
    left: 0;
    right: 20%;
    bottom: 0;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
    pointer-events: none;
}

.overlaytext
{
    font-size: 25px;
    color: black;
    margin: 0px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-weight: 700;
    color: white;
}

input
{
    width: 100%;
    font-size: 16px;
}

.arrows
{
    width: 110px;
    height: 135px;
    margin: 20px auto;
    padding: 0px;
}

.zooms
{
    width: 106px;
    height: 45px;
    margin: 20px auto;
    margin-top: 40px;
}

.zoom
{
    width: 45px;
    height: 100%;
    margin: 4px;
    display: inline-block;
}

.arrowvert,.arrowhori
{
    width: 42%;
    height: 33%;
    padding: 4px;
}

.arrowvert
{
    margin: 0px auto;
}

.arrowhori
{
    display: inline-block;
    margin: 0px;
}

.learnmore
{
    font-size: 18px;
    text-align: center;
    margin-top: 40px;
}

a
{
    color: #0C64E8;
    text-decoration: none;
}

a:hover
{
    color: #307fff;
    text-decoration: underline;
}

.footnote a
{
    color: #97b6e8;
}

.mob
{
    display: none;
}

#graphbutton
{
    position: absolute;
    top: 0;
    right: 20%;
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
    margin: 10px;
}

#graphbutton button
{
    font-family: "Roboto", sans-serif;
    width: auto;
    height: auto;
    box-shadow: none;
    padding: 5px 10px;
    font-size: 22px;
    border-radius: 10px;
}

.graphlbl
{
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-size: 17px;
    color: white;
    margin: 0;
    line-height: 1em;
    text-shadow: -1px -1px 1px black, 1px -1px 1px black, -1px 1px 1px black, 1px 1px 1px black;
    pointer-events: none;
    user-select: none;
}

.graphlbl-row
{
    margin: 5px 0;
    text-align: right;
}

.no-webgl-wrapper
{
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.9);
}

.no-webgl
{
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-image: url("../euler.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

/*Hide arrows on numeric inputs*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button
{
  -webkit-appearance: none;
  margin: 0;
}
input[type=number]
{
  -moz-appearance: textfield;
}



/*Responsive CSS*/

@media (max-width: 1080px)
{
    .main
    {
        min-height: 0;
        height: 600px;
        margin: 10px;
    }
    .graph
    {
        width: 100%;
        height: 80%;
        top: 0;
    }
    .control
    {
        width: 100%;
        height: 20%;
        bottom: 0;
        border-left: 0;
        border-top: 2px solid;
    }
    .ctrrow
    {
        width: 23%;
        margin: 0 1%;
        display: inline-block;
    }
    .label
    {
        margin: 5px 0;
    }
    .arrows,.zooms
    {
        display: inline-block;
    }
    .arrows
    {
        width: auto;
        height: auto;
        margin: 5px 0;
        padding: 0px;
    }
    .arrowvert, .arrowhori, .zoom
    {
        width: 35px;
        height: 35px;
        display: inline-block;
    }
    button
    {
        font-size: 18px;
        border-radius: 11px;
    }
    .reset-btn
    {
        margin-top: 5px;
        font-size: 18px;
    }
    .zooms
    {
        width: auto;
        height: auto;
        margin: 5px 0;
        margin-left: 20px;
    }
    .ctrrow-b
    {
        width: auto !important;
    }
    .learnmore
    {
        margin: 0;
        margin-top: 10px;
        margin-left: 20px;
    }
    h1
    {
        margin: 15px 0;
    }
    .overlay
    {
        right: 0;
        bottom: 20%;
    }
    #graphbutton
    {
        right: 0;
    }
}

@media (max-width: 768px)
{
    h1
    {
        font-size: 30px;
    }
    .main
    {
        height: 500px;
        overflow: hidden;
    }
    .graph
    {
        height: 100%;
    }
    .control
    {
        background-color: white;
        height: 35%;
        bottom: -35%;
        -webkit-transition: bottom 0.7s;
        transition: bottom 0.7s;
    }
    .mob
    {
        display: block;
    }
    .ctrrow
    {
        position: relative;
        top: -50px;
        width: 48%;
    }
    .ctr-show
    {
        position: relative;
        height: 50px;
        width: 150px;
        border-radius: 11px 11px 0 0;
        top: -50px;
        font-family: "Roboto", sans-serif;
        margin: auto;
        box-shadow: 0 -5px 15px #333;
    }
    .ctr-show:active
    {
        box-shadow: 0 -5px 15px #222;
        transform: none;
        background-color: #eaeaea;
    }
    .overlay
    {
        bottom: 0;
    }
    .overlaytext
    {
        font-size: 20px;
    }
    #graphbutton
    {
        display: none;
    }
}

@media (max-width: 600px)
{
    .control
    {
        height: 55%;
        bottom: -55%;
    }
    .ctrrow-b
    {
        width: 100% !important;
        text-align: center;
        margin-top: 5px;
    }
    .learnmore
    {
        margin-left: 0;
    }
}

@media (max-width: 480px)
{
    h1
    {
        font-size: 20px;
    }
    .main
    {
        height: 400px;
    }
    .control
    {
        height: 92%;
        bottom: -92%;
    }
    .ctrrow
    {
        width: 98% !important;
        text-align: center;
        margin-top: 5px;
        top: -35px;
    }
    .ctr-show
    {
        height: 35px;
        top: -35px;
    }
    .arrowvert, .arrowhori, .zoom
    {
        width: 25px;
        height: 25px;
    }
    .zooms
    {
        margin-left: 10px;
    }
    button
    {
        border-radius: 8px;
        font-size: 13px;
    }
    .graphlbl
    {
        bottom: auto;
        top: 10px;
        font-size: 13px;
    }
}



/*Styles for the about section*/

.about-wrapper
{
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin: 60px 0px;
}

.about
{
    width: 100%;
    max-width: 1240px;
    padding: 0 20px;
    margin: auto;
    box-sizing: border-box;
}

.about h1
{
    font-size: 36px;
}

.about h2
{
    font-size: 26px;
    margin-top: 40px;
    margin-bottom: 0;
}

.about p
{
    font-size: 20px;
    margin: 10px 0;
}

.svg-wrapper
{
    display: block;
    margin:  20px auto;
    border: 1px solid #383838;
    box-shadow: 0 0 10px #333;
    width: 100%;
    max-width: 400px;
}

.svg-wrapper img
{
    width: 100%;
    height: auto;
}

@media (max-width: 768px)
{
    .about h1
    {
        font-size: 20px;
    }
    .about h2, .about p
    {
        font-size: 18px;
    }
}

@media (max-width: 400px)
{
    .bigmath
    {
        font-size: 13px !important;
    }
}

@media (max-height: 650px)
{
    .about-wrapper
    {
        top: 650px;
    }
}
