button {
    outline: none;
    background-color: $white;
    border: 2px solid $dark-grey;
    border-radius: space(5);
    font-size: font-size("text");
    user-select: none;
    padding: space(3) space(5);

    &:hover {
        background-color: $off-white;
        cursor: pointer;
    }

    &:active {
        box-shadow: inset 0 0 space(2) 0 $black;
    }
}
