$xl: 1920px;
$lg: 1280px;
$md: 980px;
$sm: 420px;
$xs: 280px;

html {
    font-size: 40px;

    @media (max-width: $xl) {
        font-size: 35px;
    }

    @media (max-width: $lg) {
        font-size: 32px;
    }

    @media (max-width: $sm) {
        font-size: 24px;
    }

    @media (max-width: $xs) {
        font-size: 5vw;
    }
}
